<div class="wrapper">
  <div class="container">
    <h1 class="my-5 w-25 mx-auto text-center border-bottom">投稿編集</h1>
    <%= form_with model: @post, local: true do | f | %>
    <div class="form-group w-50 mx-auto">
      <%= f.label :content, '内容（140字以内で入力してください）', class: 'p-1 text-muted'%>
      <%= f.text_area :content, rows: 7, class: 'form-control' %>
    </div>
    <div class="d-flex w-50 mx-auto">
      <div class="w-50">
        <%= link_to '戻る', :back, class: 'text-dark p-1'%>
      </div>
      <div class="w-50 mx-auto text-right">
        <%= f.submit '更新', class: 'btn btn-primary px-4' %>
      </div>
    </div>
    <% end %>
  </div>
  <%= render partial: 'home/footer' %>
</div>
