<p class="h3 text-center my-4"><%= flash[:notice] %></p>
<div class="wrapper">
  <div class="container">
    <h1 class="mt-5 mb-4 w-25 mx-auto text-center border-bottom">投稿一覧</h1>
    <table class="table table-hover mt-5">
      <% @posts.each do | post | %>
      <tr>
        <td class="">
          <%= link_to post.user.name, user_path(post.user_id), class: 'text-dark mx-3' %>
        </td>
        <td>
          <%= link_to post.content.truncate(53), post_path(post), class: 'text-dark ml-3' %>
        </td>
        <td class="w-15 text-right">
          <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <%= render partial: 'home/footer' %>
</div>
