<!DOCTYPE html>
<html>
  <head>
    <title>Daysofcode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "home", :media => "all" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js' %>
  </head>
  <body>
    <nav class="navbar navbar-default bg-dark sticky-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <% if @current_user %>
            <%= link_to '#100DaysOfCode', posts_path, class: 'navbar-brand text-white'%>
          <% else %> 
            <%= link_to '#100DaysOfCode', root_path, class: 'navbar-brand text-white'%>
          <% end %>
        </div>
        <ul class="nav ml-auto">
          <% if @current_user %>
          <li class="nav-item">
            <%= link_to posts_path, method: :get do %>
              <i class="fas fa-list text-white p-2 mt-1">&nbsp;投稿一覧</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_post_path, method: :get do %>
              <i class="fas fa-edit text-white p-2 mt-1">&nbsp;投稿する</i>
            <% end %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to user_path(@current_user), method: :get do %>
              <i class="fas fa-user-alt text-white p-2 mt-1">&nbsp;マイページ</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link text-white' %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to '新規登録', new_user_path, class: 'nav-link text-white' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログイン', login_path, class: 'nav-link text-white' %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
